<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <form
      action="/login"
      method="POST"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <h1>Login Page</h1>
      <input name="username" id="username" type="text" placeholder="Username" />
      <br />
      <input name="password" id="password" type="text" placeholder="Password" />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
